.footer {
  max-width: 1440px;
}
.footer_title {
  position: absolute;
  width: 494px;
  height: 166px;
  left: 473px;
  top: 3178px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  text-align: center;
  color: #0f1f1c;
}
.footer_input {
  position: absolute;
  width: 800px;
  height: 129px;
  left: 320px;
  top: 3404px;

  background: linear-gradient(0deg, #ffffff, #ffffff), #c4c4c4;
  border-radius: 35px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  text-align: left;
  color: #0f1f1c;
  opacity: 0.5;
  padding-left: 30px;
}
.footer_btn {
  position: absolute;
  width: 300px;
  height: 105px;
  left: 830px;
  top: 3416px;
  border-style: none;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%),
    #ffffff;
  border-radius: 35px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
.footer_btn:hover {
  background: orangered;
  cursor: pointer;
}
.footer_nav {
  position: absolute;
  display: flex;
  align-items: center;
  height: 49px;
  top: 3693px;
  left: 97px;
}
.footer_nav-logo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ff7c4e;
}
.footer_nav-ul {
  display: flex;
  position: absolute;
  width: 45px;
  height: 23px;
  left: 390px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  column-gap: 80px;
  list-style-type: none;
}

.footer_navlink {
  color: #838b89;
  text-decoration: none;
}
.footer_nav-singup {
  position: absolute;
  width: 57px;
  height: 23px;
  top: 12px;
  left: 1059px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  /* identical to box height */

  color: #838b89;
}
.footer_nav_btn {
  position: absolute;
  width: 128px;
  height: 49px;
  left: 1182px;
 margin-top: 20px;
  margin-bottom: 25px;
  display: inline-block;
  font: 'Poppins';
  color: #ffffff;
  text-align: center;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%),
    #ffffff;
  border-radius: 100px;
  border-style: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  cursor: pointer;
}
.footer_nav_btn:hover {
  background: orangered;
}
