@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.App {
  max-width: 1440px;
  padding: 25px;
  font-family: 'Poppins', sans-serif;

  color: 0F1F1C;
}
